﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<%@ OutputCache Duration="3600000" VaryByParam="l" Shared="true" VaryByCustom="l" %>

<%@ Register Src="~/ascxAsJs/Polyfill.ascx" TagPrefix="uc1" TagName="Polyfill" %>

<uc1:Polyfill runat="server" ID="Polyfill" />
