﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<%@ Register Src="~/jQuery/AspNetCdn.ascx" TagPrefix="uc1" TagName="AspNetCdn" %>


<uc1:AspNetCdn runat="server" ID="AspNetCdn1" />

<script>
	// Fallback to loading jQuery from a local path if the CDN is unavailable
	(window.jQuery || document.write('<script src="/scripts/jquery-1.9.0.min.js"><\/script>'));
   </script>
