﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<% #if false %>
<script>
	<% #endif %>
	; var nilnul = nilnul || {}
	; nilnul.ele = nilnul.ele || {}

	; nilnul.ele.ini = function (ele) {

		(function depthLoad(ele) {
			for (var i = 0; i < ele.children.length; i++) {
				depthLoad(
					ele.children[i]
				);
			}
			if (ele.nodeName.toUpperCase() === 'SCRIPT') {
				ele.onload && typeof (ele.onload) === 'function' && ele.onload()
			}
		})(ele)
		;
	}
	;
	<% #if false %>
</script>
<% #endif %>
