﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="nilnul.web._js_._WEB_.Default" %>

<%@ Register Src="~/ascxAsJs/polyfill/js/Script.ascx" TagPrefix="uc1" TagName="Script" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    
	<uc1:Script runat="server" ID="Script" />

</body>
</html>
