﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<%@ Import Namespace="System.IO" %>
<%@ Register Src="~/nilnul.ascx" TagPrefix="uc1" TagName="nilnul" %>
<%@ Register Src="~/nilnul.print.ascx" TagPrefix="uc1" TagName="nilnulprint" %>


<uc1:nilnul runat="server" ID="nilnul" />
<uc1:nilnulprint runat="server" ID="nilnulprint" />
