﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ OutputCache Shared="true" VaryByCustom="l" VaryByParam="l" Duration="360000000" %>

<%@ Import Namespace="System.IO" %>
<%@ Register Src="_nilnul_/Obj.ascx" TagPrefix="uc1" TagName="Obj" %>
<%@ Register Src="~/_nilnul_/All.ascx" TagPrefix="uc1" TagName="All" %>
<%@ Register Src="_nilnul_/Bit.ascx" TagPrefix="uc1" TagName="Bit" %>


<% #if false %>
<script>
	<% #endif  %>
	(
		function (window, undefined) {
			window.nilnul = function () {
			};
		}
	)
	(
		window, void null
	)
	;
	<% #if false %>
</script>
<% #endif  %>

(function (nilnul) {

<%@ Register Src="_nilnul_/Compatible.ascx" TagPrefix="uc1" TagName="Compatible" %>
<uc1:Compatible runat="server" ID="Compatible" />
<uc1:Obj runat="server" id="Obj" />

<uc1:Bit runat="server" id="Bit" />

<%@ Register Src="_nilnul_/Str.ascx" TagPrefix="uc1" TagName="Str" %>
<uc1:Str runat="server" ID="Str" />

<%@ Register Src="_nilnul_/Txt.ascx" TagPrefix="uc1" TagName="Txt" %>
<uc1:Txt runat="server" ID="Txt" />

<%@ Register Src="_nilnul_/Ctr.ascx" TagPrefix="uc1" TagName="Ctr" %>
<uc1:Ctr runat="server" ID="Ctr" />

<%@ Register Src="_nilnul_/Cookie.ascx" TagPrefix="uc1" TagName="Cookie" %>
<uc1:Cookie runat="server" ID="Cookie" />

<%@ Register Src="_nilnul_/Evt.ascx" TagPrefix="uc1" TagName="Evt" %>
<uc1:Evt runat="server" ID="Evt" />

<%@ Register Src="_nilnul_/Json.ascx" TagPrefix="uc1" TagName="Json" %>
<uc1:Json runat="server" ID="Json" />

<%@ Register Src="_nilnul_/Num.ascx" TagPrefix="uc1" TagName="Num" %>
<uc1:Num runat="server" ID="Num" />

<%@ Register Src="_nilnul_/Time.ascx" TagPrefix="uc1" TagName="Time" %>
<uc1:Time runat="server" ID="Time" />

<%@ Register Src="_nilnul_/Print.ascx" TagPrefix="uc1" TagName="Print" %>
<uc1:Print runat="server" ID="Print" />

<%@ Register Src="~/_nilnul_/ele/Ini.ascx" TagPrefix="uc1" TagName="Ini" %>
<uc1:Ini runat="server" id="Ini" />

<%@ Register Src="~/_nilnul_/ele_/parent_/LoadChildrenTrigIni.ascx" TagPrefix="uc1" TagName="LoadChildrenTrigIni" %>
<uc1:LoadChildrenTrigIni runat="server" ID="LoadChildrenTrigIni" />

<%@ Register Src="~/_nilnul_/eles/Ini.ascx" TagPrefix="uc1" TagName="Ini1" %>
<uc1:Ini1 runat="server" id="Ini1" />

<%@ Register Src="~/_nilnul_/eles/has_/Name.ascx" TagPrefix="uc1" TagName="Name" %>
<uc1:Name runat="server" ID="Name" />

<uc1:All runat="server" ID="All" />


<%@ Register Src="~/_nilnul_/Href.ascx" TagPrefix="uc1" TagName="Href" %>
<uc1:Href runat="server" ID="Href" />

<%@ Register Src="~/_nilnul_/Func.ascx" TagPrefix="uc1" TagName="Func" %>
<uc1:Func runat="server" ID="Func" />

<%@ Register Src="~/_nilnul_/Article.ascx" TagPrefix="uc1" TagName="Article" %>




<uc1:Article runat="server" ID="Article" />
<%@ Register Src="_nilnul_/Web.ascx" TagPrefix="uc1" TagName="Web" %>
<%@ Register Src="~/_nilnul_/Express.ascx" TagPrefix="uc1" TagName="Express" %>


<uc1:Web runat="server" id="Web" />

<uc1:Express runat="server" ID="Express" />


})(nilnul)
;
