﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<% #if false %>
<script>
	<% #endif %>

	(function (nilnul) {
		nilnul.bit = function () { };
		nilnul.bit.duo = function () { };
		nilnul.bit.duo.op = function () { };
		nilnul.bit.duo.op.le = function (x, y) {
			return !x || y;
		};

		nilnul.bit.duo.op.ge = function (x, y) {
			return x || !y;
		};
		nilnul.bit.combine_ = {};
		nilnul.bit.combine_.nand = function (x, y) {
			return !(x && y);

		}

	})(
		nilnul
	);
	<% #if false %>
</script>
<% #endif %>

