﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<%@ Register Src="_polyfill_/Str.ascx" TagPrefix="uc1" TagName="Str" %>
<uc1:Str runat="server" ID="Str" />

<%@ Register Src="_polyfill_/Json.ascx" TagPrefix="uc1" TagName="Json" %>
<uc1:Json runat="server" ID="Json" />

<%@ Register Src="~/_polyfill_/Txt.ascx" TagPrefix="uc1" TagName="Txt" %>
<uc1:Txt runat="server" ID="Txt" />
