﻿<%@ Control Language="C#" AutoEventWireup="true" %>


<% #if false %>
<script>
	<% #endif %>
if (!String.prototype.startsWith) {
    String.prototype.startsWith = function(searchString, position){
      position = position || 0;
      return this.substr(position, searchString.length) === searchString;
	};
}
	<% #if false %>
</script>
<% #endif %>

