﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<%@ Register Src="~/Str.ascx" TagPrefix="uc1" TagName="Str" %>

(function (nilnul) {
	
<uc1:Str runat="server" ID="Str" />


})(

	nilnul

);