﻿<%@ Control Language="C#" AutoEventWireup="true"  %>

time.local.toUtc=function(numberLocal){
	var now =new Date(numberLocal); 
	return new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(),  now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());


};
