﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_master/TypeJs.Master" AutoEventWireup="true"  %>

<%@ Register Src="../Js.ascx" TagPrefix="uc1" TagName="Js" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	<uc1:Js runat="server" id="JsAll1" />
</asp:Content>
