﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_master/TypeJs.Master" AutoEventWireup="true"  %>
<%@ OutputCache Duration="36000000" VaryByParam="none" %>

<%@ Register Src="~/nilnul.ascx" TagPrefix="uc1" TagName="nilnul" %>



<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

	<uc1:nilnul runat="server" ID="nilnul" />
</asp:Content>
