﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_master/TypeJs.Master" AutoEventWireup="true"  %>
<%@ OutputCache Duration="36000000" VaryByParam="none" %>
<%@ Register Src="~/nilnul_print.ascx" TagPrefix="uc1" TagName="nilnul_print" %>





<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	<uc1:nilnul_print runat="server" ID="nilnul_print" />

</asp:Content>
