﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_master/TypeJs.Master" AutoEventWireup="true"  %>

<%@ Register Src="~/nilnul.bit.ascx" TagPrefix="uc1" TagName="nilnulbit" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

	<uc1:nilnulbit runat="server" ID="nilnulbit" />
</asp:Content>
