﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ OutputCache Duration="3600000" VaryByParam="none" Shared="true" %>


<%@ Register Src="~/nilnul/contentJs/Script.ascx" TagPrefix="uc2" TagName="Script" %>

<uc2:Script runat="server" ID="Script1" />

