﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ OutputCache Duration="3600000" VaryByParam="none" Shared="true" %>

<%@ Register Src="~/ascxAsJs/polyfill/js/Script.ascx" TagPrefix="uc1" TagName="Script" %>

<uc1:Script runat="server" ID="Script" />
