﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<% #if false %>
<script>
	<% #endif %>
	; var nilnul = nilnul || {}
	; nilnul.ele_ = nilnul.ele_ || {}
	; nilnul.ele_.parent = nilnul.ele_.parent || {}
	;nilnul.ele_.parent.iniChildren = function (parent) {

		<%--//loaded = loader.children[0];
			//depth first recursion

	--%>
		(function depthLoad(parent) {
			for (var i = 0; i < parent.children.length; i++) {
				var c = parent.children[i];
				depthLoad(c);
				if (c.nodeName.toUpperCase() === 'SCRIPT') {
					c.onload && typeof (c.onload) === 'function' && c.onload()
				}
			}
		})(parent)
		;
	}
	;

	<% #if false %>
</script>
<% #endif %>
