﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ OutputCache Shared="true" VaryByCustom="l" VaryByParam="l" Duration="360000000" %>
<%@ Register Src="~/jquery/Article.ascx" TagPrefix="uc1" TagName="Article" %>


<uc1:Article runat="server" ID="Article" />
