﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ OutputCache Shared="true" VaryByCustom="l" VaryByParam="l" Duration="360000000" %>
<%@ Register Src="~/jquery/Express.ascx" TagPrefix="uc2" TagName="Express" %>


<uc2:express runat="server" id="Express1" />
