﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Import Namespace="System.IO" %>

<% #if false %>
<script>
	///<reference path="nilnul.measure.js" />
	(function (nilnul) {
		<% #endif %>
		nilnul.func = {};
		nilnul.func.exe = function (func,  args, host) {
			if (typeof(func) === 'function') {
				return func.apply(host||null,args); <%-- args must be object or null --%>
			}
			return func;
		};
		

	<% #if false %>
	})(
		nilnul
	)
	;
</script>
<% #endif %>