﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Import Namespace="System.IO" %>

<% #if false %>
<script>
	///<reference path="nilnul.measure.js" />
	(function (nilnul) {
		<% #endif %>
		;
		nilnul.num = function () { };

		nilnul.num.max = function (a, b) {
			return a > b ? a : b;
		};
		nilnul.num.min = function (a, b) {
			return a < b ? a : b;
		};
		nilnul.num.real = {};
		nilnul.num.real.str = {};
		nilnul.num.real.accumulate_ = {};
		nilnul.num.real.floa = function (obj) {
			var n = Number(obj);
			if (Number.isNaN(n) ) {
				return 0;
			}
			return n;
		};
		//nilnul.num.real.floa
		;
	<% #if false %>
	})(
		nilnul
	)
	;
</script>
<% #endif %>