﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<% #if false %>
<script>
	///<reference path="nilnul.measure.js" />
	(function (nilnul) {
		<% #endif %>
		;
		nilnul = nilnul || {};
		nilnul.delay = function (miliseconds) {
			return new Promise(r=>
				setTimeout(
					r
					,
					miliseconds
				)
			);
		}
		;
	<% #if false %>
	})(
		nilnul
	)
	;
</script>
<% #endif %>
