﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<% #if false %>
<script>
	///<reference path="nilnul.measure.js" />
	(function (nilnul) {
		<% #endif %>

		nilnul.regex = {};
		nilnul.regex_ = {};
		nilnul.regex_.all = /^[\s\S]*$/;
		nilnul.regex_.none = /.^/;

		var esc = function (txt) {
			return txt.replace(/[\\^$.*+?()[\]{}|=!<>:-]/g, '\\$&');
		};




	<% #if false %>
	})(
		nilnul
	)
	;
</script>
<% #endif %>