﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Import Namespace="System.IO" %>

<% #if false %>
<script>
	///<reference path="nilnul.measure.js" />
	(function (nilnul) {
		<% #endif %>
		;
		nilnul.str =<%--  nilnul.str || --%>nilnul.str || function () { }
		;nilnul.str.ctor_ = function () {
		}
		;nilnul.str.ctor_.repeat = function (element, times) {
			var r = [];
			while (times-- > 0) {
				r.push(element);
			}
			return r;
		}
		;
	<% #if false %>
	})(
		nilnul
	)
	;
</script>
<% #endif %>