﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<% #if false %>
<script>
	///<reference path="nilnul.measure.js" />
	(function (nilnul) {




		<% #endif %>
		var web = {};
		web.url = {};
		web.url.query = function f(key) {
			var search = window.location.search || "";
			qs = search.substring(1);  <%--empty if search is empty--%>

			qa = qs.split("&");

			for (i = 0; i < qa.length; i++) {
				keyValue = qa[i].split("=");
				if (keyValue[0] === key) {
					return keyValue[1];
				}
			}
		};
		nilnul.web = web;

		<% #if false %>

	})(
		nilnul
	)
	;
</script>
<% #endif %>
