﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<% #if false %>
<script>
	///<reference path="nilnul.measure.js" />
	(function (nilnul) {


		<% #endif %>
		nilnul.win = {};
		Object.defineProperties(
			nilnul.win
			,
			{
				width: {
					get: function () {
						return document.documentElement.clientWidth || document.body.clientWidth;
					}
				}
				,
				height: {
					get: function () {
						return document.documentElement.clientHeight || document.body.clientHeight;
					}
				}
			}
		);
		<% #if false %>


	})(
		nilnul
	)
	;
</script>
<% #endif %>