﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<%@ OutputCache Duration="3600000" VaryByParam="none" Shared="true" %>


<%@ Register Src="~/Nilnul1.ascx" TagPrefix="uc1" TagName="Nilnul1" %>
<uc1:Nilnul1 runat="server" id="Nilnul1" />
