﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<%@ OutputCache Duration="3600000" VaryByParam="none" Shared="true" %>

<%@ Register Src="~/Polyfill.ascx" TagPrefix="uc1" TagName="Polyfill" %>

<uc1:Polyfill runat="server" ID="Polyfill" />
