﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<% #if false %>
<script>
	<% #endif %>
	
	nilnul.eles.has_ = {};
	nilnul.eles.has_.name = function (n) {
		return $("[name='" + n + "']").length !== 0;
	}
	
	;
	<% #if false %>
</script>
<% #endif %>
