﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_master/TypeJs.Master" AutoEventWireup="true"  %>

<%@ Register Src="~/All.ascx" TagPrefix="uc1" TagName="All" %>



<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

	<uc1:All runat="server" ID="All" />
</asp:Content>
