﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<% #if false %>
<script>
	<% #endif %>
	
	nilnul.eles.has_.name.genUni = function (prefix) {
		prefix = (prefix || "_").toString();
		var i = new Date().getTime(); <%-- .value is undefined. use valueOf() or getTime--%>
		var candidate=prefix+i;

		while (nilnul.eles.has_.name(candidate) ) {
			i++;
			candidate += i;
		}

		return candidate;
	};
	<% #if false %>
</script>
<% #endif %>
