﻿<%@ Control Language="C#" AutoEventWireup="true" %>




;

<%@ Register Src="~/arr/findIndex.ascx" TagPrefix="uc1" TagName="findIndex" %>

<uc1:findIndex runat="server" ID="findIndex" />

(function (nilnul) {
	<%@ Register Src="~/Str.ascx" TagPrefix="uc1" TagName="Str" %>

<uc1:Str runat="server" ID="Str" />

<%@ Register Src="~/ele_/parent_/LoadChildrenTrigIni.ascx" TagPrefix="uc2" TagName="LoadChildrenTrigIni" %>
<uc2:LoadChildrenTrigIni runat="server" ID="LoadChildrenTrigIni" />

<%@ Register Src="~/ele/Ini.ascx" TagPrefix="uc3" TagName="Ini" %>

<uc3:Ini runat="server" ID="Ini" />

<%@ Register Src="~/eles/Ini.ascx" TagPrefix="uc4" TagName="Ini" %>



<uc4:Ini runat="server" ID="Ini1" />

})(

	nilnul

);

