﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ OutputCache Duration="3600000" VaryByParam="l" Shared="true" VaryByCustom="l" %>

<script src="<%=nilnul.web._js_._WEB_.Properties.settings.App.Singleton.Item1.origin.schemelessOrigin+ResolveUrl("../js.ascx") %>" ></script>
