﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ OutputCache Duration="3600000" VaryByParam="none" Shared="true" %>

<%@ Register Src="~/script_/Jquery.ascx" TagPrefix="uc1" TagName="Jquery" %>
<uc1:Jquery runat="server" ID="Jquery" />

<%@ Register Src="~/script_/Polyfill.ascx" TagPrefix="uc1" TagName="Polyfill" %>
<uc1:Polyfill runat="server" ID="Polyfill" />


<%@ Register Src="~/script_/Nilnul.ascx" TagPrefix="uc1" TagName="Nilnul" %>
<uc1:Nilnul runat="server" ID="Nilnul" />
