﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Src="~/_nilnul_/eles/has_/name/GenUni.ascx" TagPrefix="uc1" TagName="GenUni" %>
<%@ Register Src="~/_nilnul_/eles/ZMax.ascx" TagPrefix="uc1" TagName="ZMax" %>


<uc1:GenUni runat="server" ID="GenUni" />
<uc1:ZMax runat="server" ID="ZMax" />
