﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<% #if false %>
<script>
	<% #endif %>
	; var nilnul = nilnul || {}
	; nilnul.eles = nilnul.eles || {}
	; nilnul.eles.ini = function (eles) {
		for (var i = 0; i < eles.length; i++) {
			nilnul.ele.ini(
				eles[i]
			);
		}
	}
	;
	<% #if false %>
</script>
<% #endif %>
