﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<% #if false %>
<script>
	<% #endif %>
	 var nilnul = nilnul || {}
	 ;
	 nilnul.eles = nilnul.eles || {}
	 ;
	 nilnul.eles.zMax = function () {
		var zMax = 0;
		$('body *').each(function () {
			var zIndex = +$(this).css('zIndex'); <%-- "+" casts to number or NaN --%>
			if (zIndex > zMax) {
				zMax = zIndex;
			}
		});
		return zMax;
	}
	;
	nilnul.eles.zMax.next = function () {
		return nilnul.eles.zMax() + 1;
	};
	<% #if false %>
</script>
<% #endif %>
