﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<%@ Register Src="_str_/arr/Filter.ascx" TagPrefix="uc1" TagName="Filter" %>
<uc1:Filter runat="server" ID="Filter" />

<%@ Register Src="_str_/arr/FindIndex.ascx" TagPrefix="uc1" TagName="FindIndex" %>

<uc1:FindIndex runat="server" ID="FindIndex" />

<%@ Register Src="~/_polyfill_/_str_/arr/Includes.ascx" TagPrefix="uc1" TagName="Includes" %>

<uc1:Includes runat="server" ID="Includes" />
