﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Src="~/_polyfill_/_txt_/StartsWith.ascx" TagPrefix="uc1" TagName="StartsWith" %>
<uc1:StartsWith runat="server" ID="StartsWith" />

<%@ Register Src="~/_polyfill_/_txt_/EndsWith.ascx" TagPrefix="uc1" TagName="EndsWith" %>
<uc1:EndsWith runat="server" ID="EndsWith" />
