﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<script src="<%=nilnul.web._js_._WEB_.Properties.settings.App.Singleton.Item1.origin.schemelessOrigin+ResolveUrl("../ContentJs.aspx")%>" ></script>