﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<% #if false %>
<script>
	///<reference path="nilnul.measure.js" />
	(function (nilnul, $,undefined) {
		<% #endif %>
		;
		nilnul.json || (nilnul.json = {});
		nilnul.json.parse = function (x) {
			if (typeof x === "string" && nilnul.string.isNulOrWhite(x)) {
				return undefined;
			}
			return $.parseJSON(x)
		};
		;
	<% #if false %>
	})(
		nilnul, $
	)
	;
</script>
<% #endif %>