﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_master/TypeJs.Master" AutoEventWireup="true"  %>
<%@ OutputCache CacheProfile="aspx" %>
<%@ Register Src="~/Nilnul1.ascx" TagPrefix="uc1" TagName="Nilnul1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	<uc1:Nilnul1 runat="server" ID="Nilnul1" />
</asp:Content>
